body {
  margin: 20pt;
  padding: 0px;
  text-align: center;
  background-color: cyan;
}




#btGoHome {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(0, 8, 8);
  color: blue;
  border-radius: 100%;

  animation-name: anGohome;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes anGohome {
  60% {
    background-color: rgb(94, 99, 94);
    color: rgb(240, 239, 239);
    transform: translateX(80%);
  }
  100% {
    transform: translatex(500%);
  }
}


.imageBox{
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 0pt;
  width: 200px;
}

#authorImage{
  width: 200px;
  padding: 0px;
  padding-bottom: 0pt;
  float:left;
  margin: 5xp;

}


p{
  text-align: justify;
  font-size: 25px;
}

